@import "variables";

.btn {
    margin: 0.25rem;
    display: inline-block;
    padding: 1rem 2rem;
    line-height: 1;
    background: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    transition: $transition-time;
    text-decoration: none;
    &:not(:disabled){
        cursor: pointer;
    }
    i {
        margin-right: 0.2rem;
    }
    &--flex {
        display: flex;
        align-items: center;
    }
    &--small {
        padding: 0.5rem 1rem;
    }
    &:disabled {
        cursor: default;
        opacity: 0.6;
    }
    &--outline {
        color: white;
        border: 1px solid white;
        &:hover {

        }
    }
    &--hover-red {
        &:not(:disabled):hover {
            background: $color-red;
        }
    }
    &--hover-blue {
        &:not(:disabled):hover {
            background: $color-blue;
        }
    }
    &--hover-white {
        &:not(:disabled):hover {
            color: $color-red;
            background: white;
        }
    }
    &--reset {
        background: none;
        padding: 0;
        margin: 0;
        color: inherit;
        font-weight: inherit;
        border: none;
    }
    &--loading {
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 50px;
            height: 50px;
            top: 50%;
            transform: translateY(-50%);
        }
        span {
            visibility: hidden;
        }
    }
}
