.cookies {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    &__title {
        margin: 0 2rem 0 0;
    }
    &__content {
        p { margin: 0; }
    }
    &__button {
         margin-left: auto;
    }
    @media all and (max-width: 960px) {
        flex-direction: column;
        align-items: baseline;
        &__title {
            margin: 0 0 1rem;
        }
        &__button {
            margin: 1rem 0 0 auto;
        }
    }
}
