* {
    box-sizing: border-box;
}

hr {
    margin: 2rem 0rem;
}

.wrapper {
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    &--small {
        max-width: 650px;
    }
    &--medium {
        max-width: 960px;
    }
}

.full {
    min-height: calc(100vh - 60px);
    &--w-footer {
        min-height: calc(100vh - 109px);
    }
}

.flex {
    display: flex;
    &--wrap {
        flex-wrap: wrap;
    }
}

.justify {
    &--center {
        justify-content: center;
    }
    &--between {
        justify-content: space-between;
    }
}

.align {
    &--center {
        align-items: center;
    }
    &--end {
        align-items: flex-end;
    }
}

.pad {
    &--sm {
        padding: 1rem;
    }
    &--y {
        padding-top: 3rem;
        padding-bottom: 3rem;
        @media all and (max-width: 768px) {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }
    &--t {
        padding-top: 3rem;
    }
    &--x {
        padding-left: 3rem;
        padding-right: 3rem;
        @media all and (max-width: 768px) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
    &--r {
        &-sm {
            margin-right: 1rem;
        }
    }
}

.margin {
    &--none {
        margin: 0;
    }
    &--left-auto {
        margin-left: auto;
    }
    &--r {
        &-sm {
            margin-right: 1rem;
        }
        &-md {
            margin-right: 2rem;
        }
        &-xl {
            margin-right: 3rem;
        }
    }
    &--t {
        &-sm {
            margin-top: 1rem;
        }
        &-md {
            margin-top: 2rem;
        }
        &-xl {
            margin-top: 3rem;
        }
    }
    &--b {
        &-none {
            margin-bottom: 0 !important;
        }
        &-sm {
            margin-bottom: 1rem;
        }
        &-md {
            margin-bottom: 2rem;
        }
        &-xl {
            margin-bottom: 3rem;
        }
    }
    &--x {
        &-sm {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }
}

.ReactCollapse--collapse {
    transition: height 500ms;
}
