@import "variables";

.footer {
    padding: 1rem 3rem;
    color: white;
    background: lighten($color-off-black, 10%);
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    &__links {
        display: flex;
        li {
            margin-right: 1rem;
        }
    }
    @media all and (max-width: 768px) {
        padding: 1rem;
    }
    @media all and (max-width: 500px) {
        font-size: 0.7rem;
    }
}
