@import "variables";

input, textarea, select {
    background: none;
    border: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    resize: vertical;
}

.form {
    + .form {
        margin-top: 3rem;
    }
    fieldset {
        margin-bottom: 2rem;
    }

    legend {
        font-family: 'Raleway', sans-serif;
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: 1.5rem;
        @media all and (max-width: 768px) {
            font-size: 2rem;
        }
    }
    &__field {
        text-align: left;
        margin-bottom: 2rem;
        position: relative;
        &--select:after {
            display: block;
            pointer-events: none;
            content: 'keyboard_arrow_down';
            font-family: 'Material Icons';
            font-size: 1.6rem;
            position: absolute;
            right: 0;
            top: 1.2rem;
        }
        input, textarea, select {
            width: 100%;
            font-family: 'Raleway', sans-serif;
            font-weight: 800;
            border-bottom: 1px solid #6f6f6f;
            font-size: 2rem;
            color: white;
            padding: 1rem 0 0.5rem;
            @media all and (max-width: 768px) {
                font-size: 1.4rem;
            }
        }
        textarea {
            font-family: 'Lato', 'sans-serif';
            font-weight: 400;
            min-height: 200px;
            font-size: 1.5rem;
            @media all and (max-width: 768px) {
                font-size: 1.2rem;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        &-error{
            display: block;
            margin-top: 0.5rem;
            color: $color-red;
        }
        &--white {
            input, textarea, select {
                border-color: white;
                &:disabled {
                    cursor: not-allowed;
                    color: #ccc;
                }
                &::placeholder {
                    color: #ccc;
                }
            }
        }
        &--sub {
            margin-top: 1rem;
        }
        &--radio {
            margin: 0 0 1rem;
            label {
                font-family: 'Raleway', sans-serif;
                font-weight: 800;
                font-size: 1.3rem;
                cursor: pointer;
                &:before {
                    content: '';
                    font-family: "Material Icons";
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 0.5rem 0 0;
                    height: 22px;
                    width: 22px;
                    font-size: 1.4rem;
                    line-height: 1;
                    color: $color-green-bright;
                    background: white;
                    border-radius: 50%;
                    border: 2px solid white;
                }
            }
            input {
                display: none;
                &:checked + label:before {
                    content: 'check_circle';
                }
            }
        }
        &--handle {
            margin-bottom: 0.5rem;
            label {
                margin: 0.5rem 0 0;
                font-size: 2rem;
                font-family: 'Raleway', sans-serif;
                font-weight: 800;
                @media all and (max-width: 768px) {
                    font-size: 1.4rem;
                }
            }
            display: flex;
            align-items: center;
        }
    }
    &--small {
        width: 100%;
        max-width: 650px;
    }
}
