@import "variables";

.header {
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 3rem;
    background: lighten(#272727, 10%);
    color: white;
    z-index: 10;
    &__alert {
        background: $color-red;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        position: absolute;
        top: -4px;
        right: -4px;
        z-index: 2;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        &#notificationCount {
            display: none;
            background: $color-off-black;
        }
    }
    &--shadow {
        box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.5);
    }
    &__inner {
        height: 100%;
    }
    &__logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 1.2rem;
        text-decoration: none;
        margin: 0;
        vertical-align: middle;
        @media all and (max-width: 500px) {
            font-size: 1rem;
        }
    }
    &__site-nav {
        margin-left: 1rem;
        display: flex;
        align-items: center;
        vertical-align: middle;
        &-label {
            transition: $transition-time;
            border-radius: 0.25rem;
            padding: 0 0.25rem;
            position: absolute;
            font-size: 0.8rem;
            top: 60%;
            left: 50%;
            opacity: 0;
            background: $color-off-black;
            transform: translate(-50%, -5px);
            transform-origin: top center;
            pointer-events: none;
        }
        a {
            position: relative;
            vertical-align: middle;
            &:hover .header__site-nav-label {
                opacity: 1;
                transform: translate(-50%, 0);
            }
            &:not(:first-child) {
                margin-left: 0.5rem;
            }
        }
    }
    &__nav {
        height: 100%;
        a {
            font-family: 'Raleway', sans-serif;
            font-weight: 800;
            font-size: 1rem;
            display: inline-block;
            text-decoration: none;
            padding: 0 1rem;
            height: 100%;
            transition: 0.3s;
            line-height: 60px;
            &:hover {
                background: #272727;
            }
        }
        &--active {
            &-red {
                background: #dc3838;
            }
            &-black {
                background: #272727;
            }
        }
        @media all and (max-width: 768px) {
            position: fixed;
            height: 50px;
            bottom: 0;
            left: 0;
            width: 100%;
            background: lighten(#272727, 10%);
            text-align: center;
            a {
                padding: 0 1rem;
                line-height: 50px;
            }
        }
    }
    .btn {
        padding: 0.5rem;
        font-size: 0.8rem;
        + .btn {
            margin-left: 0.5rem;
        }
    }
    + div {
        margin-top: 60px;
    }
    @media all and (max-width: 768px) {
        padding: 0 1rem;
    }
}
