.login {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    nav {
        display: flex;
        align-items: center;
    }
    &__col {
        position: relative;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        @media all and (max-width: 768px) {
            padding: 2rem 1rem;
        }
        nav {
            margin-top: 2rem;
        }
    }
    &__new {
        width: 100%;
        margin-top: 2rem;
        border-top: 1px solid darken(white, 20%);
    }
    &__links{
        @media all and (max-width: 960px) {
            margin-bottom: 3rem;
            a {
                display: inline-block;
            }
        }
    }
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: transparent;
    }
    @media all and (max-width: 960px) {
        flex-direction: column;
        &__col {
            width: 100%;
            &--right {
                flex-grow: 1;
            }
        }
    }
}
