@import "variables";

.page {
    &__header {
        padding: 3rem 0;
        text-align: center;
        @media all and (max-width: 500px) {
            padding: 2rem 0;
        }
    }
    h4 {
        margin: 2rem 0 1rem;
    }
    h5 {
        margin: 2rem 0 1rem;
    }
    h6 {
        margin: 1rem 0;
    }
    &__content {
        flex: 1 0 0;
        padding: 0 1rem 1rem;
        ul {
            padding-left: 1.2rem;
            margin-bottom: 1rem;
        }
        li {
            list-style-type: circle;
        }
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        align-items: flex-start;
        .page__content {
            padding: 0 3rem 1rem 0;
        }
        @media all and (max-width: 768px) {
            flex-direction: column-reverse;
            .page__content {
                padding: 0 1rem 1rem;
            }
        }
    }
    &__sidebar {
        position: sticky;
        top: 90px;
        background: $color-red;
        width: 400px;
        padding: 2rem;
        margin-bottom: 2rem;
        @media all and (max-width: 960px) {
            width: 300px;
        }
        @media all and (max-width: 768px) {
            width: 100%;
        }
        &-list-item {
            &:not(:last-child) {
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                border-bottom: 1px solid darken(white, 20%);
            }
            *:last-child {
                margin: 0;
            }
            ul {
                padding-left: 1rem;
                list-style-type: circle;
                font-size: 0.8rem;
            }
            li {
                margin-bottom: 0.5rem;
            }
        }
    }
}
