@import "variables";
.qa {
  background: lighten($color-off-black, 10%);
  &__item {
    font-size: 16px;
    &-inner {
      background: lighten($color-blue, 10%);
      padding: 0.5rem;
      border-radius: 10px;
      margin-bottom: 0.5rem;
    }
    &-toggle {
      color: white;
      margin-left: auto;
      i {
        font-size: 1.8rem;
      }
    }
    &-author {
      font-size: 0.8em;
      display: flex;
      align-items: center;
      padding: 0.2rem 0;
      i {
        font-size: 1rem;
        color: $color-green-bright;
        background: white;
        border-radius: 50%;
      }
      img {
        height: 1.4rem;
      }
      small {
        opacity: 0.6;
        flex: 1 0 auto;
      }
    }
    &-q, &-a {
      display: flex;
      p {
        font-size: 1em;
        line-height: 1.2;
        &:last-child {
          margin-bottom: 0;
        }
      }
      label {
        font-size: 2.5rem;
        font-weight: bolder;
        font-family: 'Raleway', 'sans-serif';
        line-height: 1;
        margin-right: 0.5rem;
      }
    }
    &-a {
      p {
        font-size: 0.9em;
      }
    }
    &-img {
      height: 40px;
      width: 40px;
      overflow: hidden;
      border-radius: 10px;
      margin-right: 0.5rem;
      background: $color-blue;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
    &-vote {
      padding: 0.5rem;
      margin-right: 0.5rem;
      cursor: default;
      button {
        opacity: 0.5;
        transition: 0.3s;
        &:not(:disabled):hover {
          opacity: 1;
          cursor: pointer;
        }
      }
      &.active button{
        opacity: 1;
      }
      polygon {
        fill: white;
      }
      span {
        display: block;
        font-size: 1rem;
        font-weight: bold;
        font-family: 'Lato', 'sans-serif';
      }
    }
    &-new {
      .qa__item-inner {
        padding: 0;
        background: none;
      }
      textarea {
        flex: 1 0 auto;
        height: 2rem;
        border-radius: 10px;
        background: lighten($color-blue, 10%);
        margin-top: 0.5rem;
        color: white;
        font-family: 'Lato', 'sans-serif';
        padding: 0.5rem;
      }
      button {
        margin: 0 0 0 0.5rem;
        width: 50px;
        height: 32px;
        font-size: 0.8rem;
        padding: 0.5rem;
      }
      i {
        font-size: 1rem;
      }
    }
    &-controls {
      opacity: 0.6;
    }
  }
  ul ul {
    padding-left: 2rem;
  }
}
