@import 'variables';

.reacts {
    display: flex;
    padding: 0.25rem;
    border-radius: 1.2rem;
    background: lighten($color-blue, 10%);
    &__item {
        display: flex;
        align-items: center;
        margin-right: 0.25rem;
        &:last-child {
            margin-right: 0;
        }
        background: $color-blue;
        padding: 0 0.5rem 0 0.25rem;
        border-radius: 1.2rem;
        img {
            width: 25px;
            height: 25px;
        }
        &-count {
            font-size: 0.8rem;
            line-height: 1.5;
        }
        &--active {
            background: darken($color-blue, 10%);
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        font-weight: 500;
    }
    @media all and (max-width: 500px) {
        &__item {
            img {
                width: 16px;
                height: 16px;
            }
            &-count {
                font-size: 0.6rem;
                line-height: 1.5;
            }
        }
    }
}
