@import "variables";

.search {
    &__filter {
        &-list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -1rem;
        }
        .form__field {
            width: 50%;
            padding: 0 1rem;
            &--select:after {
                right: 0.6rem;
            }
            @media all and (max-width: 550px) {
                width: 100%;
                &:last-child {
                    margin-bottom: 2rem;
                }
            }
        }
    }
    &__content {
        padding: 2rem 0;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;
        &-item {
            width: 25%;
            padding: 1rem;
            &-inner {
                display: flex;
                align-items: flex-start;
                border-radius: 2rem;
                text-decoration: none;
                padding: 1rem;
                transition: $transition-time;
                &:hover {
                    background: lighten($color-off-black, 10%);
                }
            }
            &-image {
                overflow: hidden;
                border-radius: 2rem;
                height: 120px;
                width: 120px;
                flex: 0 0 120px;
                margin: 0 1rem 0 0;
                background: black;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &-details {
                flex: 0 1 auto;
            }
            img {
                width: 100%;
            }
            @media all and (max-width: 1440px) {
                width: 33.33%;
            }
            @media all and (max-width: 960px) {
                &-inner {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
                &-image {
                    margin: 0 0 1rem;
                }
            }
            @media all and (max-width: 700px) {
                width: 50%;
            }
            @media all and (max-width: 360px) {
                width: 100%;
            }
        }
    }
}
