.toasts-container {
  .toast {
    font-family: 'Lato', 'sans-serif';
    color: white !important;
    line-height: 1.2;
    text-align: left;
    padding: 1rem;
    &:before {
      font-family: 'Material Icons', sans-serif;
      font-size: 1.5rem;
      margin-right: 0.5rem;
      vertical-align: middle;
      display: inline-block;
    }
    &-success {
      &:before {
        content: 'check_circle_outline';
      }
    }
    &-error {
      background: #b52222 !important;
      &:before {
        content: 'error_outline';
      }
    }
  }
}
