@import "variables";

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @media all and (max-width: 500px) {
        font-size: 14px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.2;
    &:last-child {
        margin: 0;
    }
}

h1, h2, h3 {
    font-weight: 800;
    margin-bottom: 1.2rem;
}

h1 {
    font-size: 6rem;
    @media all and (max-width: 960px) {
        font-size: 3.5rem;
    }
    @media all and (max-width: 500px) {
        font-size: 2.8rem;
    }
}
h2 {
    font-size: 3.5rem;
    @media all and (max-width: 960px) {
        font-size: 2.8rem;
    }
    @media all and (max-width: 500px) {
        font-size: 2.2rem;
    }
}
h3 {
    font-size: 2.8rem;
    @media all and (max-width: 960px) {
        font-size: 2.2rem;
    }
    @media all and (max-width: 500px) {
        font-size: 1.6rem;
    }
}
h4 {
    font-size: 2.2rem;
    @media all and (max-width: 960px) {
        font-size: 1.6rem;
    }
    @media all and (max-width: 960px) {
        font-size: 1.4rem;
    }
    font-weight: 300;
}

h5 {
    font-size: 1.8rem;
    @media all and (max-width: 960px) {
        font-size: 1.6rem;
    }
    @media all and (max-width: 450px) {
        font-size: 1.3rem;
    }
    font-weight: 300;
}
h6 {
    font-size: 1.4rem;
    font-weight: 300;
}

a {
    color: inherit;
    font-size: inherit;
    text-decoration: underline;
    cursor: pointer;
}

p {
    margin-bottom: 1rem;
}

small {
    font-size: 0.8rem;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.text {
    &--left {
        text-align: left;
    }
    &--center {
        text-align: center;
    }
    &--right {
        text-align: right;
    }
    &--muted {
        opacity: 0.5;
    }
    &--red {
        color: $color-red;
    }
    &--green {
        color: $color-green;
    }
}
