@import "variables";

.user {
    &__bio {
        p {
            font-size: 1.2rem;
            @media all and (max-width: 768px) {
                font-size: 1rem;
            }
        }
    }
    &__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &-image {
            width: 65%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;
            background-position: center;
            position: relative;
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, rgba(39, 39, 39, 1) 1%, rgba(39, 39, 39, 0.1) 70%);
                @media all and (max-width: 768px) {
                    background: linear-gradient(180deg, rgba(39, 39, 39, 0) 0%, rgba(39, 39, 39, 1) 100%);
                }
            }
            img {
                display: none;
            }
        }
        &-details {
            width: 35%;
            text-align: center;
        }
        @media all and (max-width: 1280px) {
            &-image, &-details {
                width: 50%;
            }
        }
        @media all and (max-width: 768px) {
            flex-direction: column-reverse;
            align-items: center;
            &-image, &-details {
                width: 100%;
            }
            &-image {
                height: 300px;
            }
        }
    }
    &__details {
        flex: 1 0 0;
        &-name {
            font-size: 2.8rem;
            margin-bottom: 0;
            @media all and (max-width: 768px) {
                font-size: 2rem;
            }
        }
        &-headline {
            font-size: 1.6rem;
            @media all and (max-width: 768px) {
                font-size: 1.2rem;
            }
        }
    }
    &__image {
        margin: 0 auto;
        width: 320px;
        height: 320px;
        background: lighten(#272727, 10%);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        border-radius: 40%;
        overflow: hidden;
        position: relative;
        @media all and (max-width: 1280px) {
            width: 220px;
            height: 220px;
            margin-top: -200px;
        }
        .btn {
            position: absolute;
            top: 3rem;
            right: 3rem;
        }
        img {
            width: 100%;
            height: 100%;
        }
        &-header {
            position: relative;
            .btn {
                position: absolute;
                top: 1rem;
                right: 1rem;
            }
            img {
                width: 100%;
            }
        }
    }
    &__social {
        margin-top: -30px;
        position: relative;
        z-index: 2;
        img {
            width: 60px;
        }
        a {
            text-decoration: none;
            margin: 0 0.25rem;
        }
        @media all and (max-width: 768px) {
            margin-top: -20px;
            a{
                margin: 0 0.1rem;
            }
            img {
                width: 40px;
            }
        }
    }
    &__equipment {
        &-list-item {
            background: lighten($color-off-black, 10%);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 1rem;
            @media all and (max-width: 960px) {
                flex-direction: column;
                align-self: center;
            }
            @media all and (max-width: 768px) {
                flex-direction: row;
            }
        }
        &-categories {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            margin: -1rem;
            &-item {
                width: 50%;
                padding: 1rem;
                @media all and (max-width: 768px) {
                    width: 100%;
                }
            }
        }
        &-image {
            margin: 1rem 0 1rem 1rem;
            width: 150px;
            height: 150px;
            border-radius: 20%;
            overflow: hidden;
            background: #272727;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
                height: 100%;
            }
            @media all and (max-width: 960px) {
                margin: 1rem 0 0;
            }
            @media all and (max-width: 768px) {
                margin: 1rem 0 1rem 1rem;
            }
            @media all and (max-width: 450px) {
                width: 80px;
                height: 80px;
            }
        }
        &-details {
            flex: 1 0 0;
            padding: 1rem 1.5rem;
            display: flex;
            flex-direction: column;
            span:not(:last-child) {
                margin-bottom: 0.5rem;
            }
            .reacts {
                margin-top: auto;
                align-self: flex-end;
            }
            @media all and (max-width: 500px) {
                padding: 1rem;
            }
        }
    }
}
