.btn {
    &--icon {
        border: none;
        height: 2rem;
        width: 2rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        i {
            color: white;
            font-size: 1rem;
        }
    }
    &--blue {
        background: #40589e;
        &:hover {
            background: darken(#40589e, 10%);
        }
    }
    &--red {
        background: #dc3838;
        &:hover {
            background: darken(#dc3838, 10%);
        }
    }
    &--green {
        background: #2ECC71;
        &:hover {
            background: darken(#2ECC71, 10%);
        }
    }
    &--loading {
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 50px;
            height: 50px;
            top: 50%;
            transform: translateY(-50%);
        }
        span {
            visibility: hidden;
        }
    }
}
