.dashboard {
    &__link {
        margin: 0 1rem;
        border: 2px solid white;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        text-decoration: none;
        font-size: 2rem;
        display: flex;
        align-items: center;
        padding: 2rem;
        transition: .3s;
        width: calc(33.333% - 2rem);
        svg {
            min-width: 100px;
        }
        span {
            margin-left: 2rem;
            line-height: 1.2;
        }
        @media all and (max-width: 1366px) {
            padding: 1rem;
            span {
                margin-left: 1rem;
            }
        }
        @media all and (max-width: 960px) {
            width: 100%;
            margin-bottom: 2rem;
        }
        @media all and (max-width: 768px) {
            width: 100%;
            padding: 1rem;
            span {
                font-size: 1.4rem;
            }
        }
        &:hover {
            background: #dc3838;
        }
        &s {
            margin: 0 -1rem;
        }
    }
}
