.details {
    .form__field {
        label {
            display: block;
        }
    }
    &__password-criteria {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 1.2rem;
        margin-top: 0.5rem;
        i {
            vertical-align: middle;
            margin-right: 0.5rem;
            opacity: 0.5;
            border-radius: 50%;
        }
        &--met {
            i {
                background: white;
                color: #2ecc70;
                opacity: 1;
            }
        }
    }
}
