.equipment {
    &__copy {
        p { font-size: 1.2rem; }
        .form {
            > label {
                margin-left: 2rem;
            }
        }
    }
}
.equipment__category {
    &--create {
        padding: 1rem;
        border: 2px dashed white;
        &:not(:first-child) {
            margin-top: 94px;
        }
        fieldset {
            margin: 0;
        }
    }
    &--edit {
        > .form {
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            .form__field {
                width: 100%;
                margin-bottom: 0;
            }
            .btn {
                margin-left: 1rem;
            }
        }
    }
}
.equipment__item {
    &--image {
        position: relative;
        .btn {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
        }
        svg {
            width: 70%;
        }
    }
    &--new {
        padding: 1rem;
        border: 2px dashed white;
        background: none;
        > h6 {
            margin-bottom: 1rem;
        }
        .form__inner {
            background: lighten(#272727, 10%);
            margin-bottom: 1rem;
        }
    }
    &--edit {
        > .form {
            width: 100%;
        }
        .form__field {
            margin: 0 0 0.5rem;
            display: flex;
            align-items: flex-start;
            .btn {
                margin-left: 1rem;
            }
        }
        input[type=text] {
            font-size: 1.8rem;
            font-weight: 300;
            padding-top: 0;
            @media all and (max-width: 960px) {
                font-size: 1.6rem;
            }
            @media all and (max-width: 450px) {
                font-size: 1.3rem;
            }
        }
        .user__equipment-image {
            background: lighten(#272727, 5%);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
        }
        .dropdown {
            color: white;
            > .btn {
                padding: 0 0 0.5rem 0;
                border: none;
                border-bottom: 1px solid #6f6f6f;
                font-size: inherit;
                color: inherit;
                font-weight: inherit;
                font-family: 'Lato', 'sans-serif';
                display: flex;
                align-items: center;
                i {
                    margin-left: 0.75rem;
                    font-size: 1rem;
                }
            }
        }
        .dropdown-item {
            display: block;
            width: 100%;
            padding: 0.5rem 0.75rem;
            background: lighten(#272727, 20%);
            color: white;
            font-family: 'Lato', 'sans-serif';
            border: none;
            text-align: left;
            transition: 0.3s;
            &:not(:last-child) {
                border-bottom: 1px solid lighten(#272727, 30%);
            }
            &:hover {
                background: lighten(#272727, 25%)
            }
        }
        .dropdown-menu {
            display: none;
            &.show {
                display: block;
            }
        }
    }
    &--categories {
        span {
            display: inline-block;
            margin: 0 0.5rem;
        }
    }
    &--actions {
        padding: 0 1rem 1rem;
    }
}

