.image-upload {
    background: none;
    border: none;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    color: white;
    span {
        display: block;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 1rem;
        @media all and (max-width: 500px) {
            font-size: 0.7rem;
        }
    }
    &__input {
        width: 500px;
        height: 500px;
        padding: 2rem;
        margin: 2rem auto;
        border: 2px dashed lighten(#272727, 20%);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        label {
            font-family: 'Raleway', sans-serif;
            font-weight: 800;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
    }
    &__bounding {
        display: inline-block;
    }
    &__edit {
        text-align: center;
        img {
            max-width: 660px;
        }
    }
}
