.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    padding: 2rem;
    &__body {
        max-width: 768px;
        background: #272727;
        text-align: left;
        max-height: calc(100vh - 4rem);
        overflow: scroll;
    }
    &__content {
        margin-bottom: 2rem;
    }
}
