@import "../../website/scss/variables";

.notifications {
    &__header {
        margin-bottom: 1rem;
    }
    &__item {
        border-radius: 10px;
        margin-bottom: 0.5rem;
        color: black;
        display: flex;
        align-items: center;
        padding: 5px;
        background: #e0e0e2;
        transition: $transition-time;
        position: relative;
        &-inner {
            text-align: left;
            font-family: inherit;
            flex-grow: 1;
            text-decoration: none;
        }
        &--new {
            .notifications__item-inner {
                cursor: pointer;
            }
            &:hover {
                background: white;
            }
            &:before {
                content: '';
                display: block;
                width: 15px;
                height: 15px;
                background: $color-red;
                position: absolute;
                top: -7px;
                left: -7px;
                z-index: 1;
                border-radius: 50%;
            }
        }
        &-content {
            flex-grow: 1;
            margin-right: .5rem;
            font-size: 0.9rem;
        }
        &-footer {
            display: flex;
            justify-content: space-between;
            opacity: 0.4;
        }
        &-img {
            height: 30px;
            width: 30px;
            overflow: hidden;
            border-radius: 10px;
            margin-right: .5rem;
            display: flex;
            color: $color-blue;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
            }
        }
    }
}
